---
import Logo from "../components/svg/logo.astro";
import LogoExpand from "../components/svg/logo_expand.astro";
import Layout from "../layouts/Layout.astro";
import PictureOne from "../assets/images/picture_1.png";
import PictureTwo from "../assets/images/picture_2.png";
import Photo_1 from "../assets/images/photo_1.png";
import Photo_2 from "../assets/images/photo_2.png";
import Photo_3 from "../assets/images/photo_3.png";
import Photo_4 from "../assets/images/photo_4.png";
import { Image } from "astro:assets";
---

<Layout title="Carácter">
	<main class="wrapper">
		<div class="welcome min-h-screen bg-grafito flex justify-center items-center relative" id="welcome">
			<div class="container">
				<div class="flex justify-center">
					<Logo />
				</div>
				<div class="absolute bottom-12 left-8 right-8">
					<div class="container flex justify-between">
						{
							[1, 2, 3, 4].map((i) => (
								<div class="arrow" data-index={i}>
									<svg xmlns="http://www.w3.org/2000/svg" width="9" height="10" fill="none" viewBox="0 0 9 10">
										<path stroke="#EBE7DB" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.74" d="M4.08.566v8.829" />
										<path
											stroke="#EBE7DB"
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="1.74"
											d="m.563 4.919 3.524 4.515m3.537-4.515L4.1 9.434"
										/>
									</svg>
								</div>
							))
						}
					</div>
				</div>
			</div>
		</div>
		<div class="bg-beige" id="container-page">
			<div class="section_one py-12 pb-20" id="section_one">
				<div class="container">
					<div class="grid grid-cols-12">
						<div class="col-span-4 min-h-[700px] flex flex-col justify-center">
							<h3 class="text-5xl text-grafito text-balance font-medium mb-6">Vivir bien es una decisión.</h3>
							<p class="text-grafito text-pretty text-[23px] font-light">
								Empezamos a decidir cuando escogemos nuestro barrio, cuando entendemos la importancia de la arquitectura, la luz, la distribución de los
								espacios
							</p>
						</div>
						<div class="col-span-3 flex flex-col">
							<div class="flex-1 border-b border-gris border-l"></div>
							<div class="flex-1 border-gris border-l"></div>
						</div>
						<div class="col-span-5 flex items-end">
							<div class="w-full h-[600px] relative overflow-hidden">
								<Image src={PictureOne} alt="Picture 1" class="w-full h-auto absolute inset-0 top-1/2 -translate-y-1/2 object-cover" />
							</div>
						</div>
						<div class="col-span-10 min-h-[320px] flex justify-center items-center border-t border-gris border-b">
							<div class="max-w-[264px]">
								<h3 class="font-light text-[23px] text-pretty">y pensamos en cosas tan simples pero tan <strong>importantes</strong></h3>
							</div>
						</div>
						<div class="col-span-2 border-t border-b border-gris min-h-[320px]"></div>
						<div class="col-span-12">
							<div class="grid grid-cols-12 gap-8">
								<div class="col-span-3 min-h-[350px]">
									<Image src={PictureOne} alt="Picture 1" class="w-full h-full object-cover" />
								</div>
								<div class="col-span-3 min-h-[350px]">
									<Image src={PictureTwo} alt="Picture 2" class="w-full h-full object-cover" />
								</div>
								<div class="col-span-3 min-h-[350px]">
									<Image src={PictureTwo} alt="Picture 2" class="w-full h-full object-cover" />
								</div>
								<div class="col-span-3 min-h-[350px] px-4 flex justify-center items-center">
									<h4 class="font-light text-[23px] text-pretty">como qué tan cerca queremos tener el lugar donde tomaremos el café cada mañana;</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section_two bg-grafito py-16 overflow-hidden" id="section_two">
				<div class="container">
					<div class="flex flex-col gap-12 mb-[250px]">
						<p class="font-light text-[23px] text-beige max-w-[275px] text-pretty">porque todo eso influye directamente en nuestra:</p>
						<h2 class="text-[223px] text-beige tracking-tight leading-none">felicidad y bienestar.</h2>
					</div>
					<div class="relative min-h-[500px]">
						<div class="absolute top-0 left-[75%] bottom-0 flex gap-4">
							<div class="min-h-[500px] w-[272px]">
								<Image src={Photo_1} alt="Picture 1" class="w-full h-full object-cover" />
							</div>

							<div class="min-h-[500px] w-[272px]">
								<Image src={Photo_2} alt="Picture 1" class="w-full h-full object-cover" />
							</div>

							<div class="min-h-[500px] w-[272px]">
								<Image src={Photo_3} alt="Picture 1" class="w-full h-full object-cover" />
							</div>

							<div class="min-h-[500px] w-[272px]">
								<Image src={Photo_4} alt="Picture 1" class="w-full h-full object-cover" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section_three bg-brandy pt-16 overflow-hidden" id="section_three">
				<div class="grid grid-cols-12 gap-8 pt-20">
					<div class="col-span-4 col-start-5 text-[30px] text-grafito text-center text-pretty font-light">
						<p class="mb-16">Aunque cada barrio tiene su historia, no todos los barrios son <strong>inolvidables</strong>.</p>
						<p>Y si bien cada edifico tiene su estilo, no todos los edificios tienen:</p>
					</div>
				</div>
				<div class="h-[640px] relative">
					<div class="absolute top-0 bottom-0 left-0">
						<LogoExpand />
					</div>
				</div>
			</div>
			<div class="section_four py-16 bg-grafito" id="section_four">
				<div class="container">
					<div class="grid grid-cols-12 gap-8">
						<div class="col-span-7 py-16">
							<h3 class="text-5xl text-pretty text-left text-beige font-light">
								Para nosotros, un proyecto inmobiliario es un proceso de profundo análisis, que no solo pensamos como negocio, sino también como una propuesta
								que de verdad suma valor a la ciudad.
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);
</script>

<style>
	main {
		margin: 0 auto;
	}
</style>
