---
import LogoExpand from "../components/svg/logo_expand.astro";
import Layout from "../layouts/Layout.astro";
import PictureOne from "../assets/images/picture_1.png";
import PictureTeam from "../assets/images/team_presentation.png";
import Jose from "../assets/images/jose_camborda.png";
import Tania from "../assets/images/tania_lopez.png";
import Billboard from "../assets/images/billboard.png";
import BillboardMobile from "../assets/images/billboard_mobile.png";
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Welcome from "../components/Welcome.astro";
import Projects from "../components/Projects.astro";

import Place_1 from "../assets/images/place_1.jpg";
import Place_2 from "../assets/images/place_2.jpg";
import Place_3 from "../assets/images/place_3.png";
---

<Layout title="Carácter">
	<main class="wrapper" id="wrapper">
		<Welcome />
		<div class="bg-beige relative pt-8" id="container-page">
			<Navbar />
			<div class="section_one pt-0 pb-8" id="section_one">
				<div class="container">
					<div class="grid grid-cols-1 md:grid-cols-12">
						<div class="col-span-1 md:col-span-4 min-h-auto md:min-h-[700px] flex flex-col justify-center pt-10 pb-16 md:py-0">
							<p class="text-grafito text-pretty text-xl md:text-[23px] font-light pr-4 md:pr-20 max-w-[410px] tracking-[-0.25px]">
								Somos una inmobiliaria que ha decidido NO hacer más de lo mismo, porque tenemos claro que: Vivir bien es una decisión y queremos estar a la
								altura de todas las personas que quieren vivir bien.
							</p>
						</div>
						<div class="col-span-1 md:col-span-3 hidden md:flex flex-col">
							<div class="flex-1 border-b border-gris border-l"></div>
							<div class="flex-1 border-gris border-l"></div>
						</div>
						<div class="col-span-1 md:col-span-5 flex items-end -mx-4 md:mx-0">
							<div class="image-container">
								<div class="w-full h-[520px] md:h-[600px] relative overflow-hidden">
									<Image src={PictureOne} alt="Picture 1" class="w-full h-full absolute inset-0 top-1/2 -translate-y-1/2 object-cover" />
								</div>
							</div>
						</div>
						<div
							class="col-span-1 md:col-span-10 relative py-10 md:py-0 min-h-[auto] md:min-h-[320px] flex justify-center items-center md:border-t border-gris md:border-b"
						>
							<div class="block md:hidden absolute top-0 bottom-0 w-[1px] bg-gris right-[20%]"></div>
							<div class="max-w-[280px] md:max-w-[360px] -ml-8 md:ml-0">
								<h3 class="font-light text-[20px] md:text-[23px] text-balance md:text-pretty text-grafito tracking-[-0.25px]">
									Decidir bien el barrio, decidir bien cada aspecto de la arquitectura, darle importancia a la luz y la distribución de los espacios.
								</h3>
							</div>
						</div>
						<div class="col-span-1 md:col-span-2 border-t border-b border-gris min-h-[320px] hidden md:block"></div>
						<div class="col-span-1 md:col-span-12">
							<div class="grid grid-cols-1 md:grid-cols-12 md:gap-8">
								<div class="col-span-1 md:col-span-3 min-h-[350px] order-1 md:order-1 mb-8 md:mb-0">
									<Image src={Place_1} alt="Place 1" class="w-full h-full object-cover" />
								</div>
								<div class="col-span-1 md:col-span-3 min-h-[350px] order-2 md:order-2">
									<Image src={Place_2} alt="Place 2" class="w-full h-full object-cover" />
								</div>
								<div class="col-span-1 md:col-span-3 min-h-[350px] order-4 md:order-3">
									<Image src={Place_3} alt="Place 2" class="w-full h-full object-cover" />
								</div>
								<div
									class="col-span-1 md:col-span-3 relative min-h-[200px] md:min-h-[350px] px-4 flex justify-center items-center order-3 md:order-4 py-12 md:py-0"
								>
									<div class="block md:hidden absolute top-0 bottom-0 w-[1px] bg-gris left-[30%]"></div>
									<h4 class="font-light text-[20px] md:text-[23px] text-pretty text-grafito pl-[40%] md:pl-0 tracking-[-0.25px]">
										Porque estamos hablando del lugar donde vas a pasar una buena parte de tu vida.
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<Projects id="section_two" />
			<div class="section_three bg-brandy pt-16 md:pt-36 overflow-hidden" id="section_three">
				<div class="grid grid-cols-6 md:grid-cols-12 gap-8 pt-20 md:mb-24">
					<div class="col-span-4 md:col-span-4 col-start-2 md:col-start-5 text-[22px] md:text-[30px] text-grafito text-center text-pretty font-normal">
						<p class="mb-16 text-[22px] md:text-[30px]">Aunque cada barrio tiene su historia, no todos los barrios son <strong>inolvidables</strong>.</p>
						<p class="text-[22px] md:text-[30px]">Y si bien cada edifico tiene su estilo, no todos los edificios tienen:</p>
					</div>
				</div>
				<div class="h-[318px] md:h-[640px] relative flex [--duration:30s] [--gap:6rem] translate-y-4 gap-32">
					{
						Array(4)
							.fill(0)
							.map((_, i) => (
								<div class="flex animate-marquee shrink-0 justify-around whitespace-nowrap">
									<LogoExpand />
								</div>
							))
					}
				</div>
			</div>
			<div class="section_four py-16 md:py-24 bg-grafito" id="section_four">
				<div class="container">
					<div class="grid grid-cols-1 md:grid-cols-12 gap-8">
						<div class="colspan-1 md:col-span-6 py-20">
							<h3
								class="text-[30px] md:text-[52px] text-pretty text-left text-beige font-extralight leading-none md:!leading-tight tracking-[-1.5px] md:tracking-[-2.5px]"
							>
								Para nosotros, un proyecto inmobiliario es un proceso de profundo análisis, que no solo pensamos como negocio, sino también como una propuesta
								que de verdad suma valor a la ciudad.
							</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="section_five bg-beige" id="section_five">
				<div class="container px-0 md:px-8">
					<div class="grid gridcols-1 md:grid-cols-12">
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square flex justify-center items-center px-8 relative">
							<div class="w-[1px] bg-gris h-[100%] absolute top-0 right-0 hidden md:block"></div>
							<div class="h-[1px] bg-gris w-[100%] absolute bottom-0 left-0 right-0"></div>
							<p class="text-[20px] md:text-[23px] text-pretty font-light px-12 md:px-0">
								Nacemos con el propósito de contribuir sinceramente a hacer de Lima una ciudad mejor.
							</p>
						</div>
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square hidden md:flex justify-center items-center px-8 relative">
							<div class="w-[1px] bg-gris h-[100%] absolute top-0 right-0"></div>
							<div class="h-[1px] bg-gris w-[100%] absolute bottom-0 left-0 right-0"></div>
						</div>
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square flex justify-center items-center px-8 relative">
							<div class="h-[1px] bg-gris w-[100%] absolute bottom-0 left-0 right-0"></div>
							<p class="text-[20px] md:text-[23px] text-pretty font-light px-12 md:px-0">
								Con la entrega empieza una nueva etapa en la vida de los que deciden mudarse a un depa con <strong>Carácter.</strong>
							</p>
						</div>
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square hidden md:flex justify-center items-center px-8 relative">
							<div class="w-[1px] bg-gris h-[100%] absolute top-0 right-0"></div>
						</div>
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square flex justify-center items-center px-8 relative">
							<div class="w-[1px] bg-gris h-[100%] absolute top-0 right-0"></div>
							<p class="text-[20px] md:text-[23px] text-pretty font-light pl-12 pr-8 md:px-0">
								Creemos en las relaciones de largo plazo, porque un proyecto no termina con la entrega.
							</p>
						</div>
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square hidden md:flex justify-center items-center px-8 relative">
						</div>
					</div>
				</div>
			</div>
			<div class="section_six pt-10 py-20 bg-brandy" id="projects">
				<div class="container">
					<div class="grid grid-cols-1 md:grid-cols-12 gap-8">
						<div class="col-span-1 md:col-span-8 pt-20 pb-4 md:py-20">
							<h3 class="text-[40px] md:text-[60px] text-balance text-left text-grafito font-light">
								Estamos trabajando para lanzar nuestro próximo proyecto. Bienvenidos los terrenos y todas las ideas.
							</h3>
						</div>
						<div class="col-span-1 md:col-span-6">
							<a
								href="mailto:contacto@caracterinmobiliaria.com"
								target="_blank"
								class="text-xl md:text-2xl text-balance text-left bg-grafito hover:bg-beige text-beige hover:text-grafito transition-all duration-300 ease-in-out w-full flex justify-center items-center h-[60px] md:h-[70px] cursor-pointer"
							>
								Tengo un terreno
							</a>
						</div>
						<div class="col-span-1 md:col-span-6">
							<a
								href="mailto:contacto@caracterinmobiliaria.com"
								target="_blank"
								class="text-xl md:text-2xl text-balance text-left bg-grafito hover:bg-beige text-beige hover:text-grafito transition-all duration-300 ease-in-out w-full flex justify-center items-center h-[60px] md:h-[70px] cursor-pointer"
							>
								Quiero comprar un depa
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="section_seven bg-beige" id="who_we_are">
				<div class="grid grid-cols-1 md:grid-cols-12 gap-8 text-grafito">
					<div class="col-span-1 md:col-span-6 py-12 md:pt-0 md:pb-6 flex items-end order-2 md:order-1 pl-4 pr-6 md:px-0 md:pr-20">
						<h4 class="font-light text-[20px] md:text-[30px] text-pretty dynamic-padding tracking-[-1.5px] md:tracking-[-1px]">
							Nuestro equipo core tiene más de 13 años trabajando juntos. Hemos aprendido mucho del sector inmobiliario, analizando a fondo sus oportunidades y
							entendiendo dónde hay espacio para hacer algo diferente, necesario y relevante para las personas que quieren vivir bien.
						</h4>
					</div>
					<div class="col-span-1 md:col-span-6 order-1 md:order-2">
						<div class="h-[520px] md:h-dvh relative overflow-hidden">
							<Image src={PictureTeam} alt="Picture team" class="w-full h-full object-cover absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2" />
						</div>
					</div>
				</div>
				<div class="container pt-10 md:py-40">
					<div class="grid grid-cols-1 md:grid-cols-12 gap-8 justify-between">
						<div class="cols-span-1 md:col-span-5 text-grafito mb-12 md:mb-0">
							<div>
								<div class="image-container md:max-w-[360px]" data-width="360" data-duration="1.5">
									<div class="h-[500px] md:h-[470px] w-full max-w-full relative overflow-hidden mb-16">
										<Image src={Jose} alt="Jose Camborda" class="w-full h-full object-cover absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2" />
									</div>
								</div>
								<h2 class="text-[50px] font-light text-balance mb-4 leading-tight">Jose <br /> Camborda</h2>
								<p class="text-[20px] md:text-[23px] text-pretty font-light font-montserrat leading-tight">
									Arquitecto experto en diseño de departamentos, dedicado a crear espacios funcionales y estéticos que se adapten a las necesidades y estilo de
									vida de cada cliente. Con un enfoque que combina creatividad y eficiencia para transformar ideas en hogares únicos y confortables.
								</p>
							</div>
						</div>
						<div class="cols-span-1 md:col-span-5 text-grafito md:col-start-8 mb-12 md:mb-0">
							<div>
								<div class="image-container md:max-w-[360px]" data-width="360" data-delay="0.65" data-duration="1.5">
									<div class="h-[500px] md:h-[470px] w-full max-w-full relative overflow-hidden mb-16">
										<Image
											src={Tania}
											alt="Tania López-Guerra"
											class="w-full h-full object-cover absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2"
										/>
									</div>
								</div>
								<h2 class="text-[50px] font-light text-balance mb-4 leading-tight">Tania <br /> López-Guerra</h2>
								<p class="text-[20px] md:text-[23px]text-pretty font-light font-montserrat leading-tight">
									Arquitecta especializada en temas legales para el sector inmobiliario en Perú. Ha brindado asesorías en normativas urbanas, licencias y
									gestión de proyectos, garantizando que cada desarrollo cumpla con los requisitos legales y técnicos para su éxito.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section_eight" id="section_eight">
				<div class="h-[380px] md:h-[834px] w-full relative overflow-hidden">
					<Image
						src={Billboard}
						alt="Tu depa tiene Carácter"
						class="w-full h-full object-cover absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 hidden md:block"
					/>
					<Image
						src={BillboardMobile}
						alt="Tu depa tiene Carácter - mobile"
						class="w-full h-full object-cover absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 block md:hidden"
					/>
				</div>
			</div>
			<Footer id="footer" />
		</div>
	</main>
</Layout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { isMobile } from "../utils/variables";
	import Lenis from "lenis";

	gsap.registerPlugin(ScrollTrigger);

	const lenis = new Lenis({
		lerp: 0.1,
		duration: 1.5,
	});

	lenis.on("scroll", ScrollTrigger.update);

	gsap.ticker.add((time) => {
		lenis.raf(time * 1000);
	});

	gsap.ticker.lagSmoothing(0);

	const anchorLinks = [...document.querySelectorAll<HTMLAnchorElement>("a[href]")]
		.filter((a) => a.href.includes("/#"))
		.forEach((a) => {
			a.addEventListener("click", (e) => {
				e.preventDefault();
				const href = "#" + a.href?.split("/#").at(-1);

				lenis.scrollTo(href);
			});
		});

	const customEasing = (x: number) => {
		return x < 0.5 ? 4 * x * x * x : 1 - Math.pow(-2 * x + 2, 3) / 2;
	};

	document.addEventListener("DOMContentLoaded", () => {
		gsap.utils.toArray(".image-container").forEach((container: any) => {
			const width = Number(container.dataset.width);
			const delay = Number(container.dataset.delay);
			const duration = Number(container.dataset.duration);
			gsap.fromTo(
				// @ts-ignore
				container,
				{ width: "0%" },
				{
					width: !width ? "100%" : isMobile ? "100%" : `${width}px`,
					duration: !duration ? 2 : duration,
					delay: !delay ? 0.5 : delay,
					ease: customEasing,
					scrollTrigger: {
						trigger: container,
						start: "top 80%",
						toggleActions: "play none none none",
					},
				}
			);
		});
	});
</script>
