---
import Logo from "../components/svg/logo.astro";
import LogoExpand from "../components/svg/logo_expand.astro";
import LogoCaracter from "../components/svg/logo_caracter.astro";
import Layout from "../layouts/Layout.astro";
import PictureOne from "../assets/images/picture_1.png";
import PictureTwo from "../assets/images/picture_2.png";
import PictureTeam from "../assets/images/team_presentation.png";
import Jose from "../assets/images/jose_camborda.png";
import Tania from "../assets/images/tania_lopez.png";
import Billboard from "../assets/images/billboard.png";
import BillboardMobile from "../assets/images/billboard_mobile.png";
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Welcome from "../components/Welcome.astro";
import Projects from "../components/Projects.astro";

import Place_1 from "../assets/images/place_1.png";
import Place_2 from "../assets/images/place_2.png";
import Place_3 from "../assets/images/place_3.png";
---

<Layout title="Carácter">
	<main class="wrapper">
		<Welcome />
		<div class="bg-beige relative pt-8" id="container-page">
			<Navbar />
			<div class="section_one pt-0 pb-8" id="section_one">
				<div class="container">
					<div class="grid grid-cols-1 md:grid-cols-12">
						<div class="col-span-1 md:col-span-4 min-h-auto md:min-h-[700px] flex flex-col justify-center pt-10 pb-16 md:py-0">
							<h3 class="text-[30px] md:text-5xl text-grafito text-balance font-medium mb-6">Vivir bien es una decisión.</h3>
							<p class="text-grafito text-pretty text-xl md:text-[23px] font-light">
								Empezamos a decidir cuando escogemos nuestro barrio, cuando entendemos la importancia de la arquitectura, la luz, la distribución de los
								espacios
							</p>
						</div>
						<div class="col-span-1 md:col-span-3 hidden md:flex flex-col">
							<div class="flex-1 border-b border-gris border-l"></div>
							<div class="flex-1 border-gris border-l"></div>
						</div>
						<div class="col-span-1 md:col-span-5 flex items-end -mx-4 md:mx-0">
							<div class="w-full h-[520px] md:h-[600px] relative overflow-hidden">
								<Image src={PictureOne} alt="Picture 1" class="w-full h-full absolute inset-0 top-1/2 -translate-y-1/2 object-cover" />
							</div>
						</div>
						<div class="col-span-1 md:col-span-10 relative min-h-[200px] md:min-h-[320px] flex justify-center items-center md:border-t border-gris md:border-b">
							<div class="block md:hidden absolute top-0 bottom-0 w-[1px] bg-gris right-[20%]"></div>
							<div class="max-w-[198px] md:max-w-[264px] -ml-8 md:ml-0">
								<h3 class="font-light text-[20px] md:text-[23px] text-balance md:text-pretty text-grafito">
									y pensamos en cosas tan simples pero tan <strong>importantes</strong>
								</h3>
							</div>
						</div>
						<div class="col-span-1 md:col-span-2 border-t border-b border-gris min-h-[320px] hidden md:block"></div>
						<div class="col-span-1 md:col-span-12">
							<div class="grid grid-cols-1 md:grid-cols-12 md:gap-8">
								<div class="col-span-1 md:col-span-3 min-h-[350px] order-1 md:order-1 mb-8 md:mb-0">
									<Image src={Place_1} alt="Place 1" class="w-full h-full object-cover" />
								</div>
								<div class="col-span-1 md:col-span-3 min-h-[350px] order-2 md:order-2">
									<Image src={Place_2} alt="Place 2" class="w-full h-full object-cover" />
								</div>
								<div class="col-span-1 md:col-span-3 min-h-[350px] order-4 md:order-3">
									<Image src={Place_3} alt="Place 2" class="w-full h-full object-cover" />
								</div>
								<div
									class="col-span-1 md:col-span-3 relative min-h-[200px] md:min-h-[350px] px-4 flex justify-center items-center order-3 md:order-4 py-12 md:py-0"
								>
									<div class="block md:hidden absolute top-0 bottom-0 w-[1px] bg-gris left-[30%]"></div>
									<h4 class="font-light text-[20px] md:text-[23px] text-pretty text-grafito pl-[40%] md:pl-3">
										como qué tan cerca queremos tener el lugar donde tomaremos el café cada mañana;
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<Projects />
			<div class="section_three bg-brandy pt-16 md:pt-36 overflow-hidden" id="section_three">
				<div class="grid grid-cols-6 md:grid-cols-12 gap-8 pt-20 md:mb-24">
					<div class="col-span-4 md:col-span-4 col-start-2 md:col-start-5 text-[22px] md:text-[30px] text-grafito text-center text-pretty font-light">
						<p class="mb-16 text-[22px] md:text-[30px]">Aunque cada barrio tiene su historia, no todos los barrios son <strong>inolvidables</strong>.</p>
						<p class="text-[22px] md:text-[30px]">Y si bien cada edifico tiene su estilo, no todos los edificios tienen:</p>
					</div>
				</div>
				<div class="h-[318px] md:h-[640px] relative flex [--duration:30s] [--gap:6rem] translate-y-4 gap-32">
					{
						Array(4)
							.fill(0)
							.map((_, i) => (
								<div class="flex animate-marquee shrink-0 justify-around whitespace-nowrap">
									<LogoExpand />
								</div>
							))
					}
				</div>
			</div>
			<div class="section_four py-16 md:py-24 bg-grafito" id="section_four">
				<div class="container">
					<div class="grid grid-cols-1 md:grid-cols-12 gap-8">
						<div class="colspan-1 md:col-span-6 py-20">
							<h3 class="text-[30px] md:text-[52px] text-pretty text-left text-beige font-extralight leading-none md:!leading-tight tracking-[-1.5px] md:tracking-[-2.5px]">
								Para nosotros, un proyecto inmobiliario es un proceso de profundo análisis, que no solo pensamos como negocio, sino también como una propuesta
								que de verdad suma valor a la ciudad.
							</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="section_five bg-beige" id="section_five">
				<div class="container px-0 md:px-8">
					<div class="grid gridcols-1 md:grid-cols-12">
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square flex justify-center items-center px-8 relative">
							<div class="w-[1px] bg-gris h-[100%] absolute top-0 right-0 hidden md:block"></div>
							<div class="h-[1px] bg-gris w-[100%] absolute bottom-0 left-0 right-0"></div>
							<p class="text-[20px] md:text-[23px] text-pretty font-light px-12 md:px-0">
								Nacemos con el propósito de contribuir sinceramente a hacer de Lima una ciudad mejor.
							</p>
						</div>
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square hidden md:flex justify-center items-center px-8 relative">
							<div class="w-[1px] bg-gris h-[100%] absolute top-0 right-0"></div>
							<div class="h-[1px] bg-gris w-[100%] absolute bottom-0 left-0 right-0"></div>
						</div>
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square flex justify-center items-center px-8 relative">
							<div class="h-[1px] bg-gris w-[100%] absolute bottom-0 left-0 right-0"></div>
							<p class="text-[20px] md:text-[23px] text-pretty font-light px-12 md:px-0">
								Porque es ahí donde empieza una nueva etapa en la vida de los que deciden mudarse a un depa con <strong>Carácter.</strong>
							</p>
						</div>
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square hidden md:flex justify-center items-center px-8 relative">
							<div class="w-[1px] bg-gris h-[100%] absolute top-0 right-0"></div>
						</div>
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square flex justify-center items-center px-8 relative">
							<div class="w-[1px] bg-gris h-[100%] absolute top-0 right-0"></div>
							<p class="text-[20px] md:text-[23px] text-pretty font-light pl-12 pr-8 md:px-0">
								Creemos en las relaciones de largo plazo, porque un proyecto no termina con la entrega.
							</p>
						</div>
						<div class="col-span-1 md:col-span-4 min-h-[280px] md:min-h-[250px] md:aspect-square hidden md:flex justify-center items-center px-8 relative">
						</div>
					</div>
				</div>
			</div>
			<div class="section_six py-20 bg-brandy" id="section_six">
				<div class="container">
					<div class="grid grid-cols-1 md:grid-cols-12 gap-8">
						<div class="col-span-1 md:col-span-8 pt-20 pb-4 md:py-20">
							<h3 class="text-[40px] md:text-[60px] text-balance text-left text-grafito font-light">
								Estamos trabajando para lanzar nuestro próximo proyecto. Bienvenidos los terrenos y todas las ideas.
							</h3>
						</div>
						<div class="col-span-1 md:col-span-6">
							<a
								class="text-xl md:text-2xl text-balance text-left bg-grafito hover:bg-beige text-beige hover:text-grafito transition-all duration-300 ease-in-out w-full flex justify-center items-center h-[60px] md:h-[70px] cursor-pointer"
							>
								Tengo un terreno
							</a>
						</div>
						<div class="col-span-1 md:col-span-6">
							<a
								class="text-xl md:text-2xl text-balance text-left bg-grafito hover:bg-beige text-beige hover:text-grafito transition-all duration-300 ease-in-out w-full flex justify-center items-center h-[60px] md:h-[70px] cursor-pointer"
							>
								Quiero comprar un depa
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="section_seven bg-beige" id="section_seven">
				<div class="grid grid-cols-1 md:grid-cols-12 gap-8 text-grafito">
					<div class="col-span-1 md:col-span-6 py-12 md:pt-0 md:pb-6 flex items-end order-2 md:order-1 pl-4 pr-6 md:px-0 md:pr-20">
						<h4 class="font-light text-[20px] md:text-[30px] text-pretty dynamic-padding tracking-[-1.5px] md:tracking-[-2.5px]">
							Nuestro equipo core tiene más de 13 años trabajando juntos. Hemos aprendido mucho del sector inmobiliario, analizado a fondo sus oportunidades y
							entendido cuáles dónde hay espacio para hacer algo diferentes, necesario y relevante para la gente que quiere vivir bien.
						</h4>
					</div>
					<div class="col-span-1 md:col-span-6 order-1 md:order-2">
						<div class="h-[520px] md:h-[850px] relative overflow-hidden">
							<Image src={PictureTeam} alt="Picture team" class="w-full h-full object-cover absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2" />
						</div>
					</div>
				</div>
				<div class="container pt-10 md:py-40">
					<div class="grid grid-cols-1 md:grid-cols-12 gap-8 justify-between">
						<div class="cols-span-1 md:col-span-5 text-grafito mb-12 md:mb-0">
							<div>
								<div class="h-[500px] md:h-[470px] w-full md:w-[360px] max-w-full relative overflow-hidden mb-16">
									<Image src={Jose} alt="Jose Camborda" class="w-full h-full object-cover absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2" />
								</div>
								<h2 class="text-[50px] font-light text-balance mb-4 leading-tight">Jose <br /> Camborda</h2>
								<p class="text-[20px] md:text-[23px] text-pretty font-light font-montserrat leading-tight">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
									veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>
						</div>
						<div class="cols-span-1 md:col-span-5 text-grafito md:col-start-8 mb-12 md:mb-0">
							<div>
								<div class="h-[500px] md:h-[470px] w-full md:w-[360px] max-w-full relative overflow-hidden mb-16">
									<Image src={Tania} alt="Tania López-Guerra" class="w-full h-full object-cover absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2" />
								</div>
								<h2 class="text-[50px] font-light text-balance mb-4 leading-tight">Tania <br /> López-Guerra</h2>
								<p class="text-[20px] md:text-[23px]text-pretty font-light font-montserrat leading-tight">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
									veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section_eight" id="section_eight">
				<div class="h-[380px] md:h-[834px] w-full relative overflow-hidden">
					<Image
						src={Billboard}
						alt="Tu depa tiene Carácter"
						class="w-full h-full object-cover absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 hidden md:block"
					/>
					<Image
						src={BillboardMobile}
						alt="Tu depa tiene Carácter - mobile"
						class="w-full h-full object-cover absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 block md:hidden"
					/>
				</div>
			</div>
			<Footer id="contact" />
		</div>
	</main>
</Layout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

</script>

<style>
	main {
		margin: 0 auto;
	}
	.dynamic-padding {
		padding-left: calc((100vw - 640px) / 2); /* Predeterminado para el primer breakpoint */
	}

	@media (min-width: 768px) {
		.dynamic-padding {
			padding-left: calc((100vw - 700px) / 2);
		}
	}

	@media (min-width: 1024px) {
		.dynamic-padding {
			padding-left: calc((100vw - 965px) / 2);
		}
	}

	@media (min-width: 1280px) {
		.dynamic-padding {
			padding-left: calc((100vw - 1208px) / 2);
		}
	}

	@media (min-width: 1536px) {
		.dynamic-padding {
			padding-left: calc((100vw - 1462px) / 2);
		}
	}

	strong,
	b {
		font-weight: 600;
	}
</style>
